<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="reusableComponents.ListenersImplementation"></listener>
    </listeners>
    <test name="Test">
        <classes>
            <class name="insuranceCalculation_Motorcicle.EndToEndTests_Motorcycle">
            </class>
        </classes>
    </test>
</suite>